.header {
    border-bottom: 1px solid #ececec;
    &__container {
        

        @media screen and (min-width: 768px) {
            display: flex;
        align-items: center;
              
        }

    }
  }

  
.navigation {
    display: none;
    font-weight: 500;
    letter-spacing: 0.02em;

  

    @media screen and (min-width: 768px) {
        max-width: 768px;     
        display: block;   
    }

    &__list {        
        margin: 0;
        padding: 0;
        gap: 50px;
        list-style: none;

        @media screen and (min-width: 480px) {
            max-width: 480px;     
            display: flex;   
        }
    }

    &__link {
       
    }
  

    &__item {
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
  }
}

.navigation__link {
    text-decoration: none;
    color: $h-color;
    transition: color $transition;

    &--current::after {
        display: none;
        position: absolute;
        content: "";
       
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $button-color;
        bottom: 0;
        left: 0;

        @media screen and (min-width: 480px) {
            max-width: 480px;     
            display: block;   
        }

    }

    &:hover, &:focus {
        color: $button-color;

    }

    &--current {
        color: $h-color;

    }
}

.navigation__list .navigation__link--current {
    color: $button-color;
  }


  .address {
    display: none;
    
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style: none;
    font-weight: 500;
    letter-spacing: 0.02em;





color: #757575;

    @media screen and (min-width: 768px) {          
        display: block;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }

    &__item {
        position: relative;
        @media screen and (min-width: 768px) {
            
        }

        @media screen and (min-width: 1200px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }

    }

    &__icon {
        margin-right: 10px;
        display: inline-block;
        fill: currentColor;
    }
  }

  .address__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .address__link {
    display: flex;
    align-items: center;
  
    text-decoration: none;
    color: $main-color;
    transition: color $transition;

    &:hover, &:focus {
        color: $button-color;

    }
  }  
  
  .container.address {
    justify-content: flex-end;
  }
  


