.skills {

    @media screen and (min-width: 1200px) {
         padding-bottom: 0;        
    }
    &__list {
        display: flex;
        flex-wrap: wrap;        
        gap: 30px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px) /2);
            
        }

        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) /4);

            
        }
    }

    &__box {     
        position: relative;  
        margin-bottom: 30px;       
        width: 100%;
        height: 120px;
        border-radius: 4px;        
        background-color: $back-section-color;

        
    }

    &__name {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.14;
        font-weight: 700;
        text-transform: uppercase;  
        color: $h-color;
        text-align: center;

        @media screen and (min-width: 1200px) {
            text-align: left;

            
        }


        
        
    }

    &__text {
        line-height: 1.71;  
        color: $main-color;
        
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: (-50% -50%);
        width: 70px;
        height: 70px;
    }
  }

  .skills__item:not(:last-child) {
    margin-bottom: 30px;
  }