.skills {

    &__list {
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__box {
        display: block;
        width: 270px;
        height: 120px;
        border-radius: 4px;      
        padding: 25px 100px;
        margin-bottom: 30px;
        background-color: $back-section-color;
    }

    &__name {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.14;
        font-weight: 700;
        text-transform: uppercase;  
        color: $h-color;
    }

    &__text {
        line-height: 1.71;  
        color: $main-color;
    }

    &__icon {
        width: 70px;
        height: 70px;
    }
  }
  
  